<!DOCTYPE html>
<html lang="ja">
  <meta charset="utf-8">
  <head>
    <title>Web App Node.js Blog : EJS + <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
