<%- include('../partials/head', { title: title}); %>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="article" style="display: flex; justify-content: center; align-items: center; height: 30vh">
      <h1 style="color:blue"><%= message %></h1>
    </div>
    <a href="/lists" class="btn">一覧画面へ</a>
  </main>
<%- include('../partials/footer'); %>
