<%- include('../partials/head', { title: 'Login'}); %>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="container">
      <h2>ログイン</h2>
      <form action="/login" method="post">
        <p>メールアドレス</p>
        <input type="text" name="email">
        <p>パスワード</p>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
      </form>
    </div>
  </main>
<%- include('../partials/footer'); %>
