<%- include('../partials/head', { title: 'Login'}); %>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <%- include('../partials/body'); %>
  </main>
<%- include('../partials/footer'); %>
