<%- include('../partials/head', { title: '登録完了'}); %>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 30vh">
      <h1 style="color:blue">登録が完了しました</h1>
    </div>
    <div class="container" style="display: flex; justify-content: center; align-items: center;">
      <a href="/login" class="btn">ログイン</a>
    </div>
  </main>
<%- include('../partials/footer'); %>
